{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <header class="entry-header">
    <h1>{{ .Title | markdownify }}</h1>
  </header>
  <section class="entry-content">
    {{- trim .Content "\n" | markdownify -}}
  </section>
  <footer class="entry-footer">
    {{- partial "social_icons.html" (dict "icons" site.Params.socialIcons "svg" $.Site.Data.svg "MaskedEmail" site.Params.MaskedEmail "Email" site.Params.Email) -}}
  </footer>
</article>
{{- end }}

{{- if fileExists "static/Ali_Raza_resume.pdf" }}
<div class="resume-preview">
  <iframe src="/Ali_Raza_resume.pdf#toolbar=0&navpanes=0&scrollbar=0"
    style="width:100%; height:90vh; border:none; display:block;">
  </iframe>
</div>
{{- end }}
